@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

.logomarca {
    text-decoration: none;
    color: darkred;
    font-size: 1.5rem;
}


.logomarca:hover {
    color: darkred;
}

.card-size {
    max-width: 18rem;
}

.card {
    padding: 0px;
}

.card-image {
    height: 200px;
    object-fit: cover;
}

.carousel-image-1 {
    height: 400px;
    object-position: center 75%;
    object-fit: cover;
}

.carousel-image-2 {
    height: 400px;
    object-position: center 60%;
    object-fit: cover;
}

.cursive-font {
    font-family: 'Sniglet', cursive;
}

.focus-color {
    color: darkred;
}

.btn-special {
    background-color: darkred;
    color: white;
    font-weight: 600;
}

.btn-special:hover {
    background-color: #b81313;
    color: white;
}

.special-border {
    border-color: darkred;
}